<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <link rel="stylesheet" href="/edit.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <title>Edit Author</title>
</head>
<body>
    <header>
        <h1>Edit <%= author.name %>'s Info</h1>
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/authors">Authors Index</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h2>Author Attributes:</h2>
        <form action="/authors/<%= author._id %>?_method=PUT" method="POST">
            <input type="text" name="img" value="<%= author.img %>" placeholder="Image link"/><br />
            <input type="text" name="name" value="<%= author.name %>" placeholder="Name"/><br />
            <input type="text" name="bio" value="<%= author.bio %>" placeholder="Bio"/><br />
            <input type="submit" value="Update Author" />
        </form>
    </main>
</body>
</html>